* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  font-family: sans-serif;
}
.active {
  color: gray;
}
.btn {
  padding: 10px 15px;
  color: white;
  background-color: rgba(128, 128, 128, 0.39);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.btn-solid {
  padding: 10px 15px;
  color: black;
  background-color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 900;
}
header {
  width: 100%;
  height: 60px;
  padding: 0 80px;
  /* background-color: red; */
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.41);
}
header nav {
  display: flex;
  gap: 20px;
}
header nav li {
  list-style: none;
  font-weight: 100;
}

.hero {
  width: 100%;
  height: 80vh;
  /* background-color: rgba(255, 0, 0, 0.179); */
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 5rem;
}
.hero div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.hero h1 {
  font-weight: 500;
  font-size: 75px;
  text-align: center;
}
.hero p {
  font-size: 20px;
  font-weight: 100;
  width: 65%;
  margin: auto;
  text-align: center;
}
.hero div .btn-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.hero div .location p {
  color: rgba(128, 128, 128, 0.761);
  width: 100%;
  font-weight: 500;
}

.technology {
  width: 100%;
  height: 20vh;
  /* background-color: rgba(255, 0, 0, 0.271); */
  padding: 0 80px;
  position: relative;
}
.overlay {
  width: 80rem;
  height: 45px;
  position: absolute;
  top: 85px;
  left: 720px;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, black, transparent, black);
}

.technology .heading {
  text-align: center;
  font-weight: 400;
  color: rgba(128, 128, 128, 0.783);
}
.technology .badge-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.badge {
  font-weight: 200;
  width: fit-content;
  padding: 8px;
  border-radius: 4px;
  background-color: rgba(128, 128, 128, 0.249);
}

.services {
  margin-top: 5em;
  width: 100%;
  height: 100vh;
  padding: 80px;
  /* background-color: rgba(255, 0, 0, 0.147); */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: 1fr;
}
.services .big {
  grid-row: 1 / span 4;
}
.services .big h3 {
  font-weight: 400;
  font-size: 70px;
}
.services .big p {
  margin-top: 30px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.826);
  margin-bottom: 25px;
}

.services .card {
  /* background-color: red; */
  width: 100%;
  height: 100%;
}

.services .side {
  /* background-color: rgba(255, 0, 0, 0.364); */
  display: flex;
  gap: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.333);
  padding-bottom: 40px;
}
.side .icon {
  width: 10%;
  /* background-color: red; */
  height: 100%;
}
.side .text {
  width: 100%;
  height: 100%;
  /* background-color: red; */
}
.side .text h4 {
  font-weight: 100;
  font-size: 30px;
  margin-bottom: 15px;
}
.side .text p {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.723);
}

.projects {
  margin-top: 5em;
  width: 100%;
  height: 70vh;
  /* background-color: rgba(255, 0, 0, 0.333); */
  padding: 0 80px;
  display: flex;
  gap: 10px;
}
.projects div {
  width: 50%;
  height: 100%;
  /* background-color: rgba(255, 0, 0, 0.618); */
}
.projects div h4 {
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 3rem;
}
.projects div h5 {
  font-weight: 200;
  font-size: 30px;
}
.projects div p {
  font-weight: 100;
  margin-top: 1em;
}
.projects div .more {
  font-weight: 100;
  margin-top: 3em;
}

.projects div .container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.projects div .container hr {
  border: 1px solid gray;
}

.projects .right {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}
.projects .right .box {
  width: 100%;
  height: 70%;
  background-color: rgba(110, 110, 110, 0.23);
  border-radius: 10px;
}

.creative {
  width: 100%;
  height: 100vh;
  background-color: rgba(150, 150, 150, 0.095);
  margin-top: 10rem;
  padding: 60px 0px 60px 80px;
}

.creative h2 {
  font-size: 50px;
  font-weight: 400;
}
.creative div p {
  font-size: 20px;
  font-weight: 100;
  margin-top: 2rem;
}

.creative .container {
  width: 100%;
  display: flex;
  gap: 40px;
  margin-top: 2rem;
  overflow: hidden;
}

.creative .container .card {
  width: 35rem;
  height: 28rem;
  /* background-color: rgba(255, 0, 0, 0.318); */
  flex-shrink: 0;
}
.creative .container .card .image {
  height: 70%;
  background-color: rgba(111, 111, 111, 0.161);
}
.creative .container .card .text p {
  font-size: 20px;
}
.creative .container .card .text .more {
  font-size: 15px;
  color: white;
  margin-top: 10px;
}

.about {
  width: 100%;
  height: 100vh;
  /* background-color: rgba(255, 0, 0, 0.213); */
  margin-top: 10rem;
  display: flex;
  gap: 10px;
  padding: 0 80px;
}

.about .left {
  width: 45%;
  /* background-color: red; */
}
.about .left .image {
  width: 25rem;
  height: 30rem;
  background-color: rgb(59, 59, 59);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 40px;
  margin-left: 3rem;
  position: relative;
}
.about .left .image::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 25px;
  width: 25rem;
  height: 30rem;
  border: 3px solid rgb(166, 166, 166);
  /* background-color: green; */
  border-top-left-radius: 50px;
  border-bottom-right-radius: 40px;
  z-index: -1;
}
.about .right {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.about .right h2 {
  font-weight: 400;
  font-size: 35px;
}
.about .right p {
  color: rgba(255, 255, 255, 0.608);
}
.about .right div {
  display: flex;
  gap: 20px;
}

.faq {
  width: 100%;
  height: 60vh;
  /* background-color: rgba(255, 0, 0, 0.223); */
  margin-top: 10rem;
  padding: 0 80px;
}
.faq h2 {
  font-size: 70px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}
.faq .grid{
  width: 100%;
  /* height: 100%; */
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 10px;
  column-gap: 40px;
  margin-top: 5rem;
}

.faq .grid .card{
  width: 100%;
  height: 4rem;
  /* background-color: red; */
  border-bottom: 1px solid rgb(54, 54, 54);
  display: flex;
  align-items: center;
}

.faq .grid .card h3{
  font-weight: 200;
  font-size: 25px;
}




.contact{
  margin-top: 5rem;
  width: 100%;
  height: 55vh;
  background-color: rgba(45, 45, 45, 0.371);
  padding: 60px 80px;
  display: flex;
  gap: 10px;
}

.contact .left{
  width: 50%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact .left h3{
  font-weight: 200;
}
.contact .left h2{
  font-weight: 400;
  font-size: 60px;
}
.contact .left p{
  color: rgba(255, 255, 255, 0.581);
}
.contact .right{
  width: 50%;
  /* height: 100%; */
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(4,1fr);
  gap: 30px;
}
.contact .right .box{
  width: 100%;
  height: 3rem;
  /* background-color: red; */
}
.contact .right .card{
  border-bottom: 1px solid rgba(255, 255, 255, 0.555);
}
.contact .right p{
  font-weight: 100;
}
.contact .right .big{
  grid-column: 2 span;
  height: 5rem;
}
