* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  font-family: sans-serif;
}
.active {
  color: gray;
}
.btn {
  padding: 10px 15px;
  color: white;
  background-color: rgba(128, 128, 128, 0.39);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.btn-solid {
  padding: 10px 15px;
  color: black;
  background-color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 900;
}
header {
  width: 100%;
  height: 60px;
  padding: 0 80px;
  /* background-color: red; */
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.41);
}
header nav {
  display: flex;
  gap: 20px;
}
header nav li {
  list-style: none;
  font-weight: 100;
}

.hero {
  width: 100%;
  height: 80vh;
  /* background-color: rgba(255, 0, 0, 0.179); */
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 5rem;
}
.hero div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.hero h1 {
  font-weight: 500;
  font-size: 75px;
  text-align: center;
}
.hero p {
  font-size: 20px;
  font-weight: 100;
  width: 65%;
  margin: auto;
  text-align: center;
}
.hero div .btn-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.hero div .location p {
  color: rgba(128, 128, 128, 0.761);
  width: 100%;
  font-weight: 500;
}

.technology {
  width: 100%;
  height: 20vh;
  /* background-color: rgba(255, 0, 0, 0.271); */
  padding: 0 80px;
  position: relative;
}
.overlay {
  width: 80rem;
  height: 45px;
  position: absolute;
  top: 85px;
  left: 720px;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, black, transparent, black);
}

.technology .heading {
  text-align: center;
  font-weight: 400;
  color: rgba(128, 128, 128, 0.783);
}
.technology .badge-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.badge {
  font-weight: 200;
  width: fit-content;
  padding: 8px;
  border-radius: 4px;
  background-color: rgba(128, 128, 128, 0.249);
}

.services {
  margin-top: 5em;
  width: 100%;
  height: 100vh;
  padding: 80px;
  /* background-color: rgba(255, 0, 0, 0.147); */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: 1fr;
}
.services .big {
  grid-row: 1 / span 4;
}
.services .big h3{
  font-weight: 400;
  font-size: 70px;
}
.services .big p{
  margin-top: 30px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.826);
  margin-bottom: 25px;
}

.services .card {
  /* background-color: red; */
  width: 100%;
  height: 100%;
}

.services .side{
  /* background-color: rgba(255, 0, 0, 0.364); */
  display: flex;
  gap: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.333);
  padding-bottom: 40px;
}
.side .icon{
  width: 10%;
  /* background-color: red; */
  height:100%;
}
.side .text{
  width: 100%;
  height:100%;
  /* background-color: red; */
}
.side .text h4{
  font-weight: 100;
  font-size: 30px;
  margin-bottom: 15px;
}
.side .text p{
  font-weight: 100;
  color: rgba(255, 255, 255, 0.723);
}
